.delete-icon{
    --background: #dc4747eb;
    --border-radius: 1.1rem;
    color: white;
    height:2.2rem;
    font-size: 11px;

}
.modify-icon{
    background-color: #567899d1;
    border-radius: 1rem;
    padding: 5px; 
    color: white;
}

.add-button{
    width: 12rem;
    font-size: 12px;
    font-family: Segoe UI;
    --border-radius: 0;
    --box-shadow: none;
    --background: #cca19f;
    margin-right: 1rem;
    --height:2rem;
    margin-bottom: 0;
}
.modify-button{
    font-size: 16px;
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    --background: transparent;
}
.add-title{
    margin-left:0.5rem;
    text-transform: initial;
    font-weight:700;
}
.add-icon{
    font-size: 15px;
}



